<!DOCTYPE html>
<html>
<head>
	<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet">
	<title>Tyke TV - Book Events</title>
	<link href="../stylesheets/Logoutcss.css" rel="stylesheet" type="text/css" />
	<link href="../stylesheets/BookEventsPg3.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="../javascripts/dropdown1.js"></script>
	<script src="../javascripts/Mascotchange.js"></script>
	<script src="../javascripts/BookEventsPg3.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div id="page">
	<div class="header">
		<h1 class="title"><a href="selectaccount.htm">Tyke TV</a></h1>
		<div class="dragon-logo">
			<img id="dragon-img" class="img-responsive" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759791/dragon_parent_1_j2belt.png" />
		</div>
		<div class="menu">
		<img  id="menu_img" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014197/Menu_jwzusk.svg">
		   <div id="myDropdown" class="dropdown-content">
		   <a id="Edprof">Edit Profile</a>
		   <a id="Deprof">Delete Profile</a>
           <a id="Chistory">Check History</a>
           <a id="Bevents">Book Events</a>
		   <a id="Getout">Logout</a>
		   </div>
		</div>
	</div>
	<div class="tab">
		<button id="BookEventsButton" class="tablinks" >
		<p><img class="tabicons" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014195/BookEvents_bv0pvp.svg"> Events</p>
		</button>
		<button id="checkActivityButton" class="tablinks">
		<p><img class="tabicons" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014197/Historyicon2_ayes8a.svg"> History</p>
		</button></div>
	<div class="section">
	    <div class="verticalbar">
		   <img class="verticalbare" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014201/Vertical_bare_3_owquhg.png">
		</div>
		<div class="rightsection">
		<div class="mobileheader">
			<p>Step 3/3: Customize and Confirm</p>
		</div>
			<div class="rightsectioncontent">
				<p> Comments:</p>
				<textarea class="txtarea" rows="3" name="Text" Id="Text" value=""> </textarea>
				<button class="btn-default" id="submit-page3Button">SUBMIT	</button>
			</div>
		</div>
		<div class="leftsection">
			<img class="leftimg" src="http://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759793/dragonfamily_zeqsbg.png">
		</div>
	</div>
	<div class="footer">
		<p>Copyright@TykeTV.com</p>
	</div>
	<div id="popup3" class="popuplg">
		<img class="dragon" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759790/dragon_baby_3_vnpp58.png">
		<p> Are you leaving me? </p>
			<div class="buttons">
				<button type="button" class="btn-yes" id="yes-button"> <p class="button">Yes</p></button>
				<button type="button" class="btn-no" id="no-button" onclick="cancellogout()"> <p class="button">No</p></button>
			</div>
	</div>
</div>

</body>

</html>
