<!DOCTYPE html>
<html>

<head>
  <title>Tyke TV - Edit Account</title>
  <link href="../stylesheets/Editaccount.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/Logoutcss.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.fileupload.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <script src='../javascripts/jquery.cloudinary.js' type='text/javascript'></script>
  <script src="../javascripts/Mascotchange.js"></script>
  <script src="../javascripts/dropdown1.js"></script>
  <script src="../javascripts/editaccount.js"></script>
</head>

<body>
  <div id="page">
    <div class="header">

		  <!-- Header with title, Tyke image, and navigation bar -->
      <h1 class="title"><a href="/selectaccount.htm">Tyke TV</a></h1>
      <div class="dragon-logo"> <img id="dragon-img" alt="Tyke the Dragon" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759791/dragon_baby_1_uet7it.png" /> </div>
      <div class="menu"> <img id="menu_img" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014197/Menu_jwzusk.svg">
        <div id="myDropdown" class="dropdown-content"> <a id="Edprof">Edit Profile</a> <a id="Deprof">Delete Profile</a> <a id="Chistory">Check History</a> <a id="Bevents">Book Events</a> <a id="Getout">Logout</a> </div>
      </div>
    </div>
    <div class="section">
      <div class="section-left">

			  <!-- Like the signup page, the left section has a table. The table is populated by javascript and fills out the current account information reading from the database. -->
        <p>
          <table class="sectiontable">
            <tr>
              <td class="tableheaderfont" colspan="2">
                <h1>Edit your account: </h1> </td>
            </tr>
            <tr>
              <td class="label">First Name:</td>
              <td>
                <input id="txtaccfname" class="textbox" name="fname" type="text">
              </td>
            </tr>
            <tr>
              <td class="label">Last Name:</td>
              <td>
                <input id="txtacclname" class="textbox" name="lname" type="text">
              </td>
            </tr>
            <tr>
              <td class="label">Email:</td>
              <td>
                <input id="txtaccemail" class="textbox" name="email" type="text">
              </td>
            </tr>
            <tr>
              <td class="label">Password:</td>
              <td>
                <input id="txtaccpassword" class="textbox" name="password" type="password">
              </td>
            </tr>
            <tr>
              <td class="tableheaderfont" colspan="2">
                <h1 id="childInfoHeader">Child 1 Info:</h1> </td>
            </tr>
            <tr id="one">
              <td class="label">First Name:</td>
              <td>
                <input id="txtchildfname1" class="textbox" name="chfname" type="text">
              </td>
            </tr>
            <tr id="two">
              <td class="label">Last Name:</td>
              <td>
                <input id="txtchildlname1" class="textbox" name="chlname" type="text">
              </td>
            </tr>
            <tr id="three">
              <td class="label">Age:</td>
              <td>
                <input id="txtchildage1" class="textbox" name="age" type="text">
              </td>
            </tr>

						<!-- We display the image the account currently has associated with the child so they can change it if they want. -->
            <tr id="four">
              <td class="label">Image:</td>
              <td id="inputimage1">
                <div class="thumbnail"> <img id="thumbnail1" src="" alt="Child Photo 1" /> </div>
              </td>
            </tr>
            <tr>
              <td class="tableheaderfont" colspan="2">
                <h1 id="child2InfoHeader">Child 2 Info:</h1> </td>
            </tr>
            <tr id="five">
              <td class="label">First Name:</td>
              <td>
                <input id="txtchildfname2" class="textbox" name="chfname" type="text">
              </td>
            </tr>
            <tr id="six">
              <td class="label">Last Name:</td>
              <td>
                <input id="txtchildlname2" class="textbox" name="chlname" type="text">
              </td>
            </tr>
            <tr id="seven">
              <td class="label">Age:</td>
              <td>
                <input id="txtchildage2" class="textbox" name="age" type="text">
              </td>
            </tr>
            <tr id="eight">
              <td class="label">Image:</td>
              <td id="inputimage2">
                <div class="thumbnail"> <img id="thumbnail2" src="" alt="Child Photo 2" /> </div>
              </td>
            </tr>
            <tr>
              <td class="tableheaderfont" colspan="2">
                <h1 id="child3InfoHeader">Child 3 Info:</h1> </td>
            </tr>
            <tr id="nine">
              <td class="label">First Name:</td>
              <td>
                <input id="txtchildfname3" class="textbox" name="chfname" type="text">
              </td>
            </tr>
            <tr id="ten">
              <td class="label">Last Name:</td>
              <td>
                <input id="txtchildlname3" class="textbox" name="chlname" type="text">
              </td>
            </tr>
            <tr id="eleven">
              <td class="label">Age:</td>
              <td>
                <input id="txtchildage3" class="textbox" name="age" type="text">
              </td>
            </tr>
            <tr id="twelve">
              <td class="label">Image:</td>
              <td id="inputimage3">
                <div class="thumbnail"> <img id="thumbnail3" src="" alt="Child Photo 3" /> </div>
              </td>
            </tr>
            <tr>
              <td class="tableheaderfont" colspan="2">
                <h1 id="child4InfoHeader">Child 4 Info:</h1> </td>
            </tr>
            <tr id="thirteen">
              <td class="label">First Name:</td>
              <td>
                <input id="txtchildfname4" class="textbox" name="chfname" type="text">
              </td>
            </tr>
            <tr id="fourteen">
              <td class="label">Last Name:</td>
              <td>
                <input id="txtchildlname4" class="textbox" name="chlname" type="text">
              </td>
            </tr>
            <tr id="fifteen">
              <td class="label">Age:</td>
              <td>
                <input id="txtchildage4" class="textbox" name="age" type="text">
              </td>
            </tr>
            <tr id="sixteen">
              <td class="label">Image:</td>
              <td id="inputimage4">
                <div class="thumbnail"> <img id="thumbnail4" src="" alt="Child Photo 4" /> </div>
              </td>
            </tr>

					  <!-- The add button gives the user the option to make another profile for a kid. Depending on how may kids they already have, javascript will display the input fields from the table so they can get this done. Users cannot add more than 4 kid profiles. -->
            <td style="padding-bottom: 5%;" colspan="2">
              <button id="btnAddChild" class="btn-add" type="Submit">
                <p class="enter">Add Child</p>
              </button>
            </td>
            </tr>
            <tr>
              <td>
                <button id="edit-button" class="btn-default" type="buttton">
                  <p class="enter">SAVE</p>
                </button>
              </td>
              <td>
                <button id="btnCancel" class="btn-default" type="buttton">
                  <p class="enter">CANCEL</p>
                </button>
              </td>
            </tr>
          </table>
        </p>
      </div>
      <div class="section-right">

				<!-- The right section has a friend of Tyke with them the entire process! -->
        <div class="teenimage"> <img src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014196/editdragon_t8wru6.png" /> </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright@TykeTV.com</p>
    </div>
    <div id="popup3" class="popuplg"> <img class="dragon" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759790/dragon_baby_3_vnpp58.png">
      <p> Are you leaving me? </p>
      <div class="buttons">
        <button type="button" class="btn-yes" id="yes-button">
          <p class="button">Yes</p>
        </button>
        <button type="button" class="btn-no" id="no-button" onclick="cancellogout()">
          <p class="button">No</p>
        </button>
      </div>
    </div>
</body>

</html>
