<!DOCTYPE html>
<html>
  <head>
    <title>Tyke TV - Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/error.css" />
  </head>
  <body>
    <div id="page">
	    <div class="header">
        <h1 class="title"><a href="/index.htm">Tyke TV</a></h1>


	    </div>


      <div class="section">
		<div class="uppersection">
			<h1> Oopsie. Something went wrong. </h1>
		</div>
		<div class="middlesection">
			<img src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759790/dragon_baby_3_vnpp58.png" alt="Tyke the Dragon"/>
		</div>
		<div class="lowersection">
			<h1> Tyke and friends are working on it! </h1>
		</div>

	  </div>
	</div>
 	 <div class="footer">
		<p>Copyright@TykeTV.com</p>
     </div>
  </body>
</html>
