<!DOCTYPE html>
<html>
<head>
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet">
<title>Tyke TV - Games</title>
<link href="../stylesheets/games6to8.css" rel="stylesheet" type="text/css" />
<link href="../stylesheets/Logoutcss.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="../javascripts/dropdown1.js"></script>
	<script src="../javascripts/Mascotchange.js"></script>
	<script src="../javascripts/vidpopup.js"></script>
	<script src="../javascripts/games6to8.js"></script>
</head>

<body>
<div id="page">
	<div class="header">
		<h1 class="title"><a href="selectaccount.htm">Tyke TV</a></h1>
		<div class="dragon-logo">
			<img id="dragon-img" class="img-responsive" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492909570/22080452_dragon_teen_3_wsnfln.png" />
		</div>
		<div class="menu">
		<img  id="menu_img" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014197/Menu_jwzusk.svg">
		   <div id="myDropdown" class="dropdown-content">
           <a id="Edprof">Edit Profile</a>
		   <a id="Deprof">Delete Profile</a>
           <a id="Chistory">Check History</a>
           <a id="Bevents">Book Events</a>
		   <a id="Getout">Logout</a>
		   </div>
		</div>
	</div>

	<div class="section">
			<div class="headerone">
			<h1> Games </h1>
			</div>

				<input id="search" type="text" name="search" placeholder="Search..">

			<div class="videotitle1">
			<h1> Fun </h1>
			</div>
			<!--include this code within the div where you want the videos. vid-list-container will have the scroll bar with videos-->
			<div class="vid-list-container" id="FunGames">
				<ul id="vid-list">
				<!--will be inserting videos here dynamically-->

				</ul>
			</div>
			<div class="videotitle2">
			<h1> Learn </h1>
			</div>
			<div class="vid-list-container" id="LearnGames">
				<ul id="vid-list">
				<!--will be inserting videos here dynamically-->

				</ul>
			</div>

			<!-- this code will display a popup when the video is clicked. Add it to the end of your code just before div id="page" ends-->
			<div id="popup2" class="popup">
				<iframe id="vid_frame" frameborder="0" height="315" src="" width="560" allowscriptaccess="always">
				</iframe>
				<a class="close" href="#" onclick="toggleVideo('hide')">
				<img id="close-icon" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1493014196/info-close-icon_fdcokj.png"></a>
			</div>


	</div>
	<div class="footer">
		<p>Copyright@TykeTV.com</p>
	</div>
	<div id="popup3" class="popuplg">
		<img class="dragon" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759790/dragon_baby_3_vnpp58.png">
		<p> Are you leaving me? </p>
			<div class="buttons">
				<button type="button" class="btn-yes" id="yes-button"> <p class="button">Yes</p></button>
				<button type="button" class="btn-no" id="no-button" onclick="cancellogout()"> <p class="button">No</p></button>
			</div>
	</div>
</div>

</body>

</html>
