html, body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #7de88a;
	width: 100vw;
	height: 100vh;
    max-width: 100%;
	}
#page{
	background-color: #7de88a;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%; /* 900/960 */
	height: 100%; /* 768px */
}

.header{
	width: 80%; /*1228.8/1536*/

	height: 7.55%; /*100/768 */
	background-color: #7de88a;
}

.dragon-logo {
    display: block;
    position: absolute;
    z-index: 0;
    height:23.4375%; /* 150/640 */
    width:9.765625%;/*150/1536*/
    top: 2.5%;
	right: 16.0208333333%;
	float: right;
}

.menu {
	display: block;
    position: absolute;
    z-index: 2;
    height:55px; /* 150/640 */
    width:55px;/*150/1536*/
    top: 2.5%;
	right: 10.0208333333%;
	float: right;
	cursor: pointer;
}

#menu_img{
width:55px;
height:55px;
cursor:pointer;
}

#Edprof, #Deprof, #Chistory, #Bevents, #Getout {
	color: #c43396;
}
/* Dropdown button on hover & focus */
.menu:hover, .menu:focus {
    background-color: #3e8e41;
		cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7de88a;
	border: 6px solid #7de88a;
	border-radius: 10px;
    width: 300%;
	right: 0px;
	left: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
		cursor:pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #c43396;
	background-color: #fff3bb;
	font-family: Chewy;
	border: 6px solid #7de88a;
	border-radius: 10px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
    padding: 12px 16px;
    display: block;
	text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

#dragon-img{
	float: right;
	cursor: pointer;
}
/* Media query for responsive tabs */
@media only screen and (max-width:1200px){
.dragon-logo {
    display: block;
    position: absolute;
    z-index: 0;
    height:140px; /* 180/768 */
    width:140px;
    top: 1.5625%;
	right: 16.0208333333%;
	float: right;
}
}
@media screen and (width: 1024px), screen and (height: 1366px){
.dragon-logo {
    display: block;
    position: absolute;
    z-index: 0;
    height:220px; /* 180/768 */
    width:220px;
    top: 1.5625%;
	right: 16.0208333333%;
	float: right;
}
}
@media only screen and (max-width:640px){
.dragon-logo {
    display: block;
    position: absolute;
    z-index: 0;
    height:120px; /* 180/768 */
    width:120px;
    top: 2%;
	right: 16.0208333333%;
	float: right;
}
.menu {
	display: block;
    position: absolute;
    z-index: 2;
    height:30px; /* 150/640 */
    width:30px;/*150/1536*/
    top: 2.5%;
	right: 10.0208333333%;
	float: right;
	cursor: pointer;
}

#menu_img{
width:30px;
height:30px;
}

	.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7de88a;
	border: 6px solid #7de88a;
	border-radius: 10px;
    width: 400%;
	right: 0px;
	left: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    font-size: 0.7em;
}
}
@media only screen and (max-width:480px){
.dragon-logo {
    display: block;
    position: absolute;
    z-index: 0;
    height:100px; /* 180/768 */
    width:100px;
    top: 3.5%;
	right: 16.0208333333%;
	float: right;
}
}
img {
    max-width: 100%;
}

.title {
	font-size: 4em; /* 48/16 default font size */
	color: #c43396;
	font-family: Chewy;
  	text-shadow: -15px 10px 4px rgba(0,0,0,0.2);
 	position:relative;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2%;
	padding-bottom: 2%;
}

@media only screen and (max-width: 1200px){
	.title {
	font-size: 3.5em;
}
}
@media screen and (width: 1024px), screen and (height: 1366px){
	.title {
	font-size: 3.5em;
}
}
@media only screen and (max-width: 900px){
	.title {
	font-size: 3.3em;
}
}
@media screen and (width: 768px), screen and (height: 1024px){
	.title {
	font-size: 4em;
}
}
@media only screen and (max-width: 600px){
	.title {
	font-size: 3em;
}
}
@media only screen and (max-width: 480px){
	.title {
	font-size: 2.75em;
}
}
.title a {
	color: inherit;
	text-decoration:none;
}
/* Styling the BookEvents & Check Activity Tabs */
div.tab {
	width: 100%;
	height: 7%;
	margin-top:4%;
    overflow: hidden;
    background: #7de88a;
}
@media only screen and (max-width: 430px){
	div.tab {
height: 6%;
	}
}
/* Style the buttons inside the tab */
div.tab button {
	width: 18%;
	height: 100%;
	border: 6px solid #ffffff;
	border-radius: 10px;
	background-color: #fff3bb;
}

#BookEventsButton {
	background-color: #ccc;
}

.tabicons{
	width: 11%;
}
@media only screen and (max-width: 1200px){
	.tabicons{
	width: 15%;
}
}
@media only screen and (max-width: 800px){
	.tabicons{
	width: 19%;
}
}
@media only screen and (max-width: 724px){
	.tabicons{
	display: none;
}
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #fff3bb;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	width: 100%;
	height: 180px;
	padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	display: none;
}
div.tabcontent button{
	width: auto;
height: 130px;
/* opacity: 0.6; */
border-radius: 260px;
}


div.tab button.tablinks {
width: 18%;
height: 100%;
font-family: Chewy;
font-size: 1.3em;
color: #c43396;
	}


@media only screen and (max-width: 640px){
	div.tab button.tablinks {
font-size: 1.2em;
	}
}
@media only screen and (max-width: 480px){
	div.tab button.tablinks {
font-size: 1em;
	}
}
@media only screen and (max-width: 430px){
	div.tab button.tablinks {
		width: 22%;
font-size: 0.8em;
	}
}
/* Styling the pink section block/container */
.section{
	height: 72%; /* 691.2/768 */
	width: 100% ;  /* 870/900 */
    /*	background-color: #e8a7e5; */
	position: relative;
    background-image: radial-gradient(ellipse at center, #e8a7e5 2%, #cd61cf 100% );
  	border:10px #FFFFFF solid;
  	border-radius: 3.448276%;  /* 30/870 */
	z-index: 1;
}

.verticalbar {
	margin-top: 1%;
	margin-left: 1.5%;
	margin-right: 1%;
	float: left;
	width: 18%;
	height: 93%;
}

.verticalbare {
	width: 100%;
	height: 100%;
}

.rightsection{
	width: 35%;
	float: left;
	height: 100%;
}

.rightbottom {
	height: 35%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.rightbottomcontainer {
	background-color: #ffffff;
	border-color: #ffffff;
	border: 5px;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	padding:20px;
}

div.rightbottomcontainer h1{
	color: #c43396;
	font-size: 2em;
	font-family: 'Chewy';
	font-weight:100;
}

@media only screen and (width: 768px)and (height: 1024px){
	.verticalbar {
		display: none;
	}
	.leftsection {
		width: 50%;
	}
	.rightsection {
		width: 50%;
	}
}

@media only screen and (max-width: 740px){
	.verticalbar {
		display: none;
	}
	.leftsection {
		width: 40%;
	}
	.rightsection {
		width: 60%;
	}
}

@media only screen and (max-width: 480px){
	.verticalbar {
		display: none;
	}
	.leftsection {
		display:none;
	}
	.rightsection {
		width: 100%;
	}
}

@media only screen and (max-width: 1400px){
	div.rightbottomcontainer h1{
	font-size: 1.75em;
}
}

@media only screen and (max-width: 1200px){
	div.rightbottomcontainer h1{
	font-size: 1.5em;
}
}

@media only screen and (max-width: 900px){
	div.rightbottomcontainer h1{
	font-size: 1.3em;
}
}

@media only screen and (max-width: 480px){
	div.rightbottomcontainer h1{
	font-size: 1.2em;
}
}

.mobileheader{
	width:100%;
}

.mobileheader p {
	font-family: Chewy;
	font-size: 1em;
	color: #ffffff;
	display:none;
	text-align:center;
	padding: 2px;
	margin-bottom: 0px;
}

#timepick {
	height: 25%;
	width: 60%;
	font-family: Chewy;
	color: #c43396;
    background-color: #ffffff;
	border: 3px solid #9e9e9e;
	border-radius: 10px;
	right: 0px;
	left: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

#timepick:hover {
	cursor: pointer;
}

.leftsection {
	float: right;
	width: 40%;
	height: 100%;
	border: 5px;
	border-color: #000000;
}

.leftimg {
	margin-top:17.5%;
	margin-bottom: 17.5%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width:75%;
	height:60%;
}

@media only screen and (max-width: 1200px) {
	.leftimg {
		margin-top:24.5%;
		height: 53%;
	}
}

@media only screen and (max-width: 900px) {
	.leftimg {
		margin-top: 32.5%;
		height: 45%;
	}
}

@media only screen and (max-width: 760px) {
	.leftimg {
		margin-top: 44.5%;
		height: 45%;
	}
}

@media only screen and (max-width: 600px) {
	.leftimg {
		margin-top: 55%;
		height: 45%;
	}
}
/*********CSS for calendar********/


/*********CSS for calendar********/

.btn-default {
	position: relative;
	width: 25%;
	margin-left: 37.5%;
	margin-right: 37.5%;
	height: 8%;
	border: 3px solid #04821b;
	border-radius: 10px;
	background-image: radial-gradient(ellipse at center, #0af58b 1%, #24ab46 100% );
}
.btn-default:hover, .btn-default:focus {
	background-image: none;
	background-color: #7de88a;
	cursor: pointer;
	text-decoration: none;
}

.buttontext {
	color: #c43396;
	font-size: 1em;
	font-family: Chewy;
	text-decoration: none;
	margin-bottom:0%;
}

@media only screen and (max-width: 1320px) {
  #timepick {
	  width: 70%;
  }
  .btn-default {
	  width: 28%;
  }
  .buttontext {
	font-size: 0.85em;
}
}

@media only screen and (max-width: 920px) {
  #timepick {
	  width: 75%;
  }
  .btn-default {
	  width: 33%;
  }
  .buttontext {
	font-size: 0.8em;
}
}

@media only screen and (max-width: 760px) {
  #timepick {
	  width: 85%;
  }
  .btn-default {
	  width: 38%;
  }
  .buttontext {
	font-size: 0.75em;
}
}

@media only screen and (max-width: 480px) {
  #timepick option {
	font-size: 0.7em;
  }
  .mobileheader p {
	  display: block;
  }
}

@media only screen and (max-width: 320px) {
  #timepick {
	  width: 95%;
  }

  #timepick option {
	font-size: 0.6em;
  }

  .btn-default {
	  width: 28%;
	  height: 7%;
	  margin-top: 0%;
  }
  .buttontext {
	font-size: 0.7em;
}
}

@media only screen and (min-width: 321px) and (max-width: 450px){
	.btn-default{
		width: 28%;
		height:7%;
		margin-top: 0%;
	}
	.buttontext {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 761px) and (max-width: 900px){
	.buttontext {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 451px) and (max-width: 760px){
	.buttontext {
		font-size: 0.8em;
	}
}

.footer{
  height: 32px;
  position: relative;
  top: 1.5%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #7de88a;
  text-align: center;


}
.footer p{
    height: 30px;
	width: 100%;
	color: white;
	position: absolute;
	font-family: chewy;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
